.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px aqua;
}
.note {
    font-size: 15px;
    color: black;
}
.copy {
    position: fixed;
    color: black;
    bottom: 0;
    width: 100%;
    background-color: cornflowerblue;
    line-height: 5;
    text-align: center;
}
canvas {
    border: 5px solid orange;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}